.form-position{
    padding: 20px;
}
.form-position input{
    margin-top: 10px;
    margin-bottom: 10px;
}
.lastAdd{
    padding-top: 10px;
    padding-bottom: 10px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 2px!important;
}